# Copia este archivo a .env.local y llena los valores
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
LICENSE_SECRET_KEY=
LICENSE_MASTER_KEY=
ANTHROPIC_API_KEY=
